@import "_normalize";
@import "_iconfont";
@import "_flexslider";

/*********************************
----------------------------------
		global
----------------------------------
*********************************/
body {
	background: #eee;
	color: #555555;
	font: 1em 'Open Sans', sans-serif;
	line-height: 1.4;
	margin: 0;
}

h1,
h2,
h3,
h4 {
	font-family: 'Raleway', sans-serif;
}

h1,
h2 {
	color: #E6003A;
}

h2,
h3 {
	font-size: 1.75em;
	font-weight: 200;
}

h1 {
	font-weight: 600;
	font: 4em;
}

h3 {
	text-transform: uppercase;
}

h5 {
	font-size: 1em;
}

p,
li {
	line-height: 1.5;
}


.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

a {
	color: #555555;
	text-decoration: none;

	-webkit-transition: color .3s;
	-moz-transition: color .3s;
	-o-transition: color .3s;
	transition: color .3s;

	&:hover {
		color: #E6003A;
	}
}



/*********************************
----------------------------------
		header
----------------------------------
*********************************/
header,
nav {
	background: rgba(255, 255, 255, .9);
	text-align: center;
	top: 0;
}

header h1 {
	margin: 0;
	padding-top: 30px;
}

header a {
	color: #E6003A;
	text-decoration: none;
}

nav {
	position: absolute;
	padding: 25px 0px;
	border-bottom: 1px solid rgb(0, 0, 0);
	width: 100%;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
	top: 74px;
	z-index: 100;
	
	ul {
		margin: 0px;
		padding: 0px;
		width: 100%;
	}

	li {
		font-size: 1.5em;
		line-height: 1.5;
		letter-spacing: 1px;
		margin: 0px;
		padding: 0px 15px;
		display: inline;
	}
	
}



/*********************************
----------------------------------
		about
----------------------------------
*********************************/
.about {
	padding-top: 30px;
}

.main p:last-child {
	padding-bottom: 50px;
}



/*********************************
----------------------------------
		article
----------------------------------
*********************************/
article {
	width: 100%;
}

section {
	width: 80%;
	margin: auto;
	border-bottom: 1px solid #bdbdbd;
}

p {
	width: 90%;
	margin: auto;
	font-size: 1.5rem;
	font-weight: 200;
}

.introimg img {
	margin-top: 120px;
	width: 100%;
}



/*********************************
----------------------------------
	Portfolio
----------------------------------
*********************************/
.portfolio_intro {
	margin-bottom: 80px;
}

.links {
	width: 100%;
	float: left;
}

.portfolio {
	padding-top: 30px;
}

article h5 {
	padding-left: 40px;
	margin-bottom: 1em;
}

.project {
	margin-bottom: 100px;
	margin-left: 10%;
	float: left;
}

.project-pics{
	width: 50%;
	float: left;

	img {
		width:100%;	
		float: left;
	}
}

.project-info {
	float: left;
	width: 44%;
	padding:0 0 0 40px;
	line-height: 28px;

	h3 {
		color: #E6003A;
	}

	h4 {
		font-size: 18px;
		border-bottom: 1px solid #e3e3e3;
		margin-top: 10px;
		margin-bottom: 0px;
		letter-spacing: 2px;
	}

	p {
		font-size: 16px;
		color: #030303;		
	}

	ul {
		list-style: none;
		padding: 0;
		color: #000;
	}
}

.project-info h3,
.project-info h4,
.project-info ul,
.project-info p,
.project-button {
	margin: 10px 0;
	float: left;
	width: 100%;	
}

.project-button{
	line-height: 45px;
	height: 45px;
	color: #E6003A;
	text-align: center;
	margin-top: 15px;
	letter-spacing: 2px;
	border: 2px solid #E6003A;
	width: 99%;
	box-shadow: inset 0 0 1px 1px #fff;
	-webkit-box-shadow: inset 0 0 1px 1px #fff;
	transition: all .15s linear;
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	text-shadow:none;	

	&:hover{
		color: #ffffff;
		background: #E6003A;
		-webkit-box-shadow: inset 0 0 1px 1px #C40032;
		box-shadow: inset 0 0 1px 1px #C40032;
		cursor: pointer;
	}

	&:active {
		background-color:#e3e3e3;
		color:#bfbfbf !important;
		-webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
		box-shadow: inset 0 0 1px 1px #e3e3e3; 
	}
}



/*********************************
----------------------------------
		footer
----------------------------------
*********************************/
footer {
	text-align: center;
	margin-top: 60px;

	p {
		margin-bottom: 80px;

		a {
			text-decoration: none;
			color: #E6003A;
			font-weight: 500;
			font-size: 1.5em;
		}
	}

	ul {
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
	
		a {
			background: #3A3A3A;
			font-size: 6em;
			float: left;
			display: block;
			width: 25%;
			text-align: center;
			padding-top: 20px;
			text-transform: uppercase;
			text-decoration: none;
		}
	}

	li {
		list-style: none;
	}
}

.facebook {
	color: #3b5998;

	&:hover {
		background: #3b5998;
	}
}

.googleplus {
	color: #d94a38;

	&:hover {
		background: #d94a38;
	}
}

.in {
	color: #0075a1;

	&:hover {
		background: #0075a1;
	}
}

.twitter {
	color: #22b1e5;

	&:hover {
		background: #22b1e5;
	}
}

.facebook:hover,
.googleplus:hover,
.in:hover,
.twitter:hover {
	color: #fff;
}

div.bottom {
	background: #3A3A3A;
	padding: 20px 0;

	p {
		width: 95%;
		margin-bottom: 10px;
	}

	a {
		font-size: 1em;
	}
}



/*********************************
----------------------------------
	Detail Pages
----------------------------------
*********************************/
.detail-page {
	margin-top: 120px;

	h3 {
		color: #E6003A;
	}
}

.more-info-left a,
.more-info-right a {
	color: #111;
	border-bottom: 1px solid #555;

	&:hover {
		color: #E6003A;
	}
}


.more-info-left {
	float: left;
	width: 48%;
	clear: both;
	
	p {
	color: #555555;
	font: 1em 'Open Sans', sans-serif;
	line-height: 1.4;
	width: 100%;
	}
}

.more-info-right {
	float: right;
	width: 46%;
	
	p {
	color: #555555;
	font: 1em 'Open Sans', sans-serif;
	line-height: 1.4;
	width: 100%;
	}
}

.previous .project-button {
	width: 25%;
	float: left;
	margin-bottom: 50px;
}

.next .project-button {
	width: 25%;
	float: right;
	margin-bottom: 50px;
}

.flexslider {
	background: none;
	border: none;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	-ms-border-radius: none;
	-o-border-radius: none;
	border-radius: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

}



/*********************************
----------------------------------
	media queries - larger
----------------------------------
*********************************/
@media screen and (max-width: 1300px) {

	.project {
		margin-left: 0;
	}

}



/*********************************
----------------------------------
	media queries - large
----------------------------------
*********************************/
@media screen and (max-width: 1010px) {

	p {
		width: 90%;
	}	

	.links h3 {
		color: #E6003A;
	}

}



/*********************************
----------------------------------
	media queries - medium
----------------------------------
*********************************/
@media only screen and (max-width: 950px){
	.project-pics{
		width: 100%;
	}
	
	.project-info{
		width: 100%;
		padding:0;
		margin-top:40px;
	}

	.more-info-left {
		width: 100%;
	}

	.more-info-right {
		width: 100%;
	}

	.previous .project-button,
	.next .project-button{
		width: 35%;
	}

	.flexslider {
		width: 100%;
	}

}



/*********************************
----------------------------------
	media queries - small
----------------------------------
*********************************/
@media screen and (max-width: 740px) {

	.links {
		width: 100%;
	}

	.portfolio {
		padding-top: 20px;
	}

	.introimg img {
		margin-top: 100px;
	}

}



/*********************************
----------------------------------
	media queries - smaller
----------------------------------
*********************************/
@media screen and (max-width: 650px) {

	section {
		width: 100%;
	}

	p {
		font-size: 1.25em;
	}

	nav li {
		font-size: 1em;
	}

	footer ul a {
		font-size: 4em;
	}

	footer p a {
		font-size: 1.25em;
	}

	.introimg img {
		margin-top: 100px;
	}

	.project-info{
		text-align:center;
		margin-top:0;
	}
	
	.project-info h3{
		font-size:25px;
		line-height:30px;
	}

	.more-info-left p,
	.more-info-right p {
		margin-left: 30%;
		width: 160%;
	}

	.more-info-left, 
	.more-info-right {
		width: 48%;
		float: left;
		clear: both;
	}

	.about h3,
	.portfolio h3 {
		margin-left: 5%;
	}

	.previous .project-button,
	.next .project-button{
		width: 48%;
	}

}























